.addImp {
	cursor: pointer;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.blinking {
	-webkit-animation: 1s blink ease infinite;
	-moz-animation: 1s blink ease infinite;
	-ms-animation: 1s blink ease infinite;
	-o-animation: 1s blink ease infinite;
	animation: 1s blink ease infinite;
	position: absolute;
    left: 40px;
    top: 10px;	
}	
	
@keyframes blink {
	from, to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
	
@-moz-keyframes blink {
	from, to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
	
@-webkit-keyframes blink {
	from, to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
	
@-ms-keyframes blink {
	from, to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
	
@-o-keyframes blink {
	from, to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
